/* Hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: #f9f9f9;
  }
  
  .content h1 {
    font-family: 'bely-display, sans-serif';
    font-size: 5.5em;
    margin-bottom: 15px;
    color: #222;
  }
  
  .content p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #009688;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #00796b;
  }
  
  /* Illustration section */
  .illustration {
    align-items: center;
    justify-content: center;
    gap:50px;

  }
  
.illustration img{
  width: 108%;
  height: 108%;
}