.split-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    gap: 20px;
    background-color: #f9f9f9;
}

.split-section .content {
    flex: 1;
    padding-right: 20px;
}

.split-section .content h2 {
    font-size: 3rem;
    font-family: 'bely-display, sans-serif';
    margin-bottom: 20px;
}

.split-section .content p {
    color: #666;
    font-size: 20px;
}

.split-section .image {
    flex: 1;
    text-align: center;
}

.split-section .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section p {
    font-size: 20pxrem;
    margin-bottom: 40px;
    color: #666;
}